
@using MSDev.DB.Models
@model MSDev.DB.Models.Resource
@{
    Layout = "_PageLayout";
    ViewBag.Title = "下载管理";

    var catalogs = ViewBag.Catalogs as List<Catalog>;

}
@section LeftNav
{

    @Html.Partial("_LeftNav")
}

<!--添加下载-->
<div class="col-md-6">
    <h4 class="text-primary cursor-point" data-toggle="collapse" data-target="#addDownload">
        添加下载 +
    </h4>
    <form asp-action="AddDownload" class="collapse" id="addDownload">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-6">
                <select class="form-control" id="TopCatalog">
                    @{
                        foreach (Catalog catalog in catalogs.Where(m => m.IsTop == 1).ToList())
                        {
                            <option value="@catalog.Id">@catalog.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-6">
                <select asp-for="Catalog" class="form-control">
                    @{
                        <option value="">选择分类</option>
                        foreach (Catalog catalog in catalogs.Where(m => m.IsTop == 0).ToList())
                        {
                            <option value="@catalog.Id" data-type="@catalog.TopCatalog.Id">@catalog.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <input asp-for="Name" class="form-control" placeholder="名称" />
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-6">
                <select asp-for="Language" class="form-control">
                    <option value="0">中文</option>
                    <option value="1">英文</option>
                </select>
            </div>
            <div class="col-md-6">
                <select asp-for="Type" class="form-control">
                    <option value="2">软件</option>
                    <option value="0">文档</option>
                    <option value="1">视频</option>
                    <option value="3">代码</option>
                </select>
            </div>

        </div>

        <div class="form-group">
            <input asp-for="AbsolutePath" class="form-control" placeholder="完整地址" />
            <span asp-validation-for="AbsolutePath"></span>
        </div>
        <div class="form-group">
            <input asp-for="SourcesUrls" class="form-control" placeholder="来源地址" />
            <span asp-validation-for="SourcesUrls"></span>
        </div>
        <div class="form-group">
            <input asp-for="Catalog" class="form-control" placeholder="分类" value="下载" type="hidden" />
        </div>
        <div class="form-group">
            <textarea asp-for="Description" class="form-control" placeholder="说明" rows="5"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <input asp-for="IMGUrl" class="form-control" placeholder="图片地址" />
            <span asp-validation-for="IMGUrl"></span>
        </div>

        <div class="form-group">
            <button class="btn btn-sm btn-primary" type="submit">添加</button>
        </div>

    </form>
</div>
<div class="clearfix"></div>
<!--下载列表-->
<div class="col-md-6">
    <h4>下载列表</h4>
    <table class="table table-condensed table-bordered">
        <thead>
            <tr>
                <th>名称</th>
                <th>类型</th>
                <th>语言</th>
                <th>说明</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @{

                string[] types = { "文档", "视频", "软件", "代码" };
                string[] languages = { "中文", "英文" };
                foreach (var download in (List<Resource>)ViewBag.Downloads)
                {

                    <tr>

                        <td>@download.Name</td>
                        <td>@types[download.Type]</td>
                        <td>@languages[download.Language]</td>
                        <td>@download.Description</td>
                        <td>
                            <a asp-action="DelDownload" asp-route-id="@download.Id" class="label label-danger">删除</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {

            freshSelect();
            $("#TopCatalog").change(function () {
                freshSelect();
            });

        });

        function freshSelect() {
            var type = $("#TopCatalog").val();
            $("#Catalog>option").each(function (index, data) {
                if ($(this).data("type") === type) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

    </script>
}