@using MSDev.DB.Entities
@model MSDev.DB.Entities.Resource
@{
    Layout = "_PageLayout";
    ViewBag.Title = "文档管理";
    var catalogs = ViewBag.Catalogs as List<Catalog>;
}
@section LeftNav
{
    @Html.Partial("_LeftNav")
}

<!--添加下载-->
<div class="row">
    <div class="col-md-6">
        <h4 class="text-primary cursor-point" data-toggle="collapse" data-target="#addDocument">
            添加文档 +
        </h4>
        <form asp-action="AddDocument" class="collapse" id="addDocument">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-md-6">
                    <select class="form-control" id="TopCatalog">
                        @{
                            foreach (Catalog catalog in catalogs.Where(m => m.IsTop == 1).ToList())
                            {
                                <option value="@catalog.Id">@catalog.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-md-6">
                    <select asp-for="Catalog" class="form-control">
                        @{
                            <option value="">选择分类</option>
                            foreach (Catalog catalog in catalogs.Where(m => m.IsTop == 0).ToList())
                            {
                                <option value="@catalog.Id" data-type="@catalog.TopCatalog.Id">@catalog.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <select asp-for="Language" class="form-control">
                        <option value="0">中文</option>
                        <option value="1">英文</option>
                    </select>
                </div>
                <div class="col-md-6">
                    @Html.Partial("_ResourceTypeOptions", Model)
                </div>
            </div>
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="名称" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <input asp-for="Provider" class="form-control" placeholder="作者/提供方,以;分隔" />
                <span asp-validation-for="Provider"></span>
            </div>
            <div class="form-group">
                <input asp-for="AbsolutePath" class="form-control" placeholder="完整地址" />
                <span asp-validation-for="AbsolutePath"></span>
            </div>
            <div class="form-group">
                <input asp-for="Catalog" class="form-control" placeholder="分类" value="文档" type="hidden" />
            </div>
            <div class="form-group">
                <textarea asp-for="Description" class="form-control" placeholder="说明" rows="5"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <input asp-for="Tag" class="form-control" placeholder="标签,以;分隔" />
                <span asp-validation-for="Tag"></span>
            </div>
            <div class="form-group">
                <input asp-for="Imgurl" class="form-control" placeholder="图片地址" />
                <span asp-validation-for="Imgurl"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-sm btn-primary" type="submit">添加</button>
            </div>

        </form>
    </div>
</div>

<!--文档列表-->

<div class="row">
    <div class="col-md-10">
        <h4>文档列表</h4>
        <table class="table table-striped table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>类型</th>
                    <th>语言</th>
                    <th>说明</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var document in (List<Resource>)ViewBag.Documents)
                    {
                        var style = "";
                        <tr>
                            <td>
                                @if (@document.IsRecommend)
                                {
                                    style = "text-primary";
                                }
                                <span class="@style">
                                    @document.Name
                                </span>
                            </td>
                            <td>@TypeValueHelper.ResourceType[document.Type]</td>
                            <td>@TypeValueHelper.Language[document.Language]</td>
                            <td style="max-width:600px">@document.Description</td>
                            <td>
                                <a asp-action="DelDocument" asp-route-id="@document.Id" class="badge badge-danger">删除</a>
                                <a asp-action="EditDocument" asp-route-id="@document.Id" class="badge badge-success">编辑</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            freshSelect();
            $("#TopCatalog").change(function () {
                freshSelect();
            });

        });

        function freshSelect() {
            var type = $("#TopCatalog").val();
            $("#Catalog>option").each(function (index, data) {
                if ($(this).data("type") === type) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    </script>
}