@using MSDev.DB.Entities
@{
    Layout = "_LeftNav";
}

<div class="row">
    <div class="col-md-auto">
        <ul class="nav nav-pills flex-column">
            @foreach (var catalog in ViewBag.Catalogs as List<Catalog>)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-route-series="@catalog.Value">@catalog.Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-8">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>分类</th>
                    <th>状态</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Video video in (List<Video>)ViewBag.ListData)
                    {
                        <tr>
                            <td>
                                <a href="@video.Url" target="_blank">
                                    @video.Name
                                </a>
                                @if (video.IsRecommend)
                                {
                                    <span class="text-danger">荐</span>
                                }
                            </td>
                            <td>@video.Catalog?.Name</td>
                            <td>@video.Status</td>
                            <td>@string.Format("{0:yyyy-MM-dd HH:mm}", video.UpdatedTime)</td>
                            <td>
                                <input type="hidden" value="@video.Id" />
                                <a class="badge badge-info" asp-action="EditVideo" asp-route-id="@video.Id">编辑</a>
                                <a class="badge badge-success" asp-action="PublishVideo" asp-route-id="@video.Id">发布</a>
                                <a class="badge badge-danger" href="#" onclick="del('@video.Id')">删除</a>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <pager pager-option="ViewBag.Pager as MyPagerOption"></pager>
    </div>
</div>




<script>

    function del(id) {
        $.post('/Video/DelVideo', { id: id }, function (data) {
            if (data.errorCode == 0) {
                Toast.Success("删除成功");
                location.reload();
            } else {
                Toast.Error(data.msg);
                console.log(data);
            }
        })
    }
</script>